:root {
  font-size: 62,5%;
  font-family: roboto, sans-serif;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

body {
  font-family: "AUTHENTICSans-90",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif,sans-serif;
}

/* --- Header Styles --- */

header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
  text-decoration: none;
  font-size: 0.8rem;
	width: 100%;
  margin-top: 0;
	position: fixed;
	z-index: 1;
	box-shadow: 10px 5px 5px rgba(57, 57, 57, 0.02);
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	margin: auto;
	width: 100%;
	height: 80px;
	padding: 0 2rem;
}

.title-home {
	font-size: 2.5rem;
	height: 100%;
  font-weight: 600;

}

.text-story link {
  text-decoration: none;
}

.title-home,
.title-home a {
	display: flex;
	align-items: center;
	height: 100%;
	font-weight: 200;
	display: flex;
	align-items: center;
	color: black;
}

.title-home:hover {
	color: #33f;
  text-decoration: none;
}

.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 660px;
	height: 100%;
	font-size: 1.2rem;
}

.top-nav ul {
	display: flex;
	width: 100%;
}

.top-nav .header-nav-buttons {
	width: 60%;
}

.header-nav-buttons,
.header-nav-buttons ul {
	height: 100%;
}

.header-nav-buttons li {
	width: 25%;
}

.header-nav-buttons li button {
	outline: none;
	width: 80%;
	background-color: transparent;
	font-size: 0.9rem;
	font-weight: 500;
	height: 100%;
	border: 1px solid transparent;
	transition: border 0.3s ease-out;
}

.header-nav-buttons li:hover button {
	border-bottom: 1px solid black;
}

.header-nav-buttons li button:focus {
	border-bottom: 1px solid black;
}

.top-nav .header-nav-links {
	width: 35%;
	height: 40%;
}

.header-nav-links ul {
	gap: 2rem;
	height: 100%;
}

.header-nav-links li {
	border: 1px solid black;
	padding-left: 0.5rem;
	display: flex;
  font-size: 00.8rem;
	align-items: center;
  text-decoration: none;
  font-family: SometypeMono-Regular,Monaco,Inconsolata,"Fira Mono","Droid Sans Mono","Source Code Pro",monospace,monospace;
}

.header-nav-links:hover {
  text-decoration: none;
}

.header-nav-links li:nth-child(1) {
	width: 35%;
	background-color: #33f;
	border: 1px solid #33f;
}

.header-nav-links li:nth-child(1) a {
	color: white;
}

.header-nav-links li:nth-child(2) {
	width: 50%;
	border: 1px solid #33f;
  font-size: 00.8rem;
}

.header-nav-links li:nth-child(2) a {
	color: #33f;
}

/* Video Styles */

.video-container{
  height: 550px;
}

.video-container > video {
  object-fit: cover;
  object-position: center;
}

/* section built on foursquare */

.built-on {
	display: flex;
	justify-content: center;
	max-width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	height: 300px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.built-on .built-on-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
	height: 100%;
	padding: 0 4rem 0 4rem;
}

.built-on-content h2 {
	font-size: 4rem;
	font-weight: 300;
	width: 40%;
}

.text-story {
	display: flex;
	flex-direction: column;
	width: 40%;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 300;
	gap: 4rem;
}

.built-on-buttons {
	display: flex;
	height: 30%;
	gap: 2rem;
}

.built-on-buttons a {
	width: 120px;
	height: 100%;
	font-size: 1.2rem;
	padding: 1rem 1rem 1rem;

  background-color: #3333FF;
  color: #fff;
  text-decoration: none;
}

.built-on-buttons a + a {
  background-color: #fff;
	border: 1px solid #3333FF;
  color: #3333FF;
}

/* Partners Logos */

.container-partners {
	display: flex;
	justify-content: center;

	max-width: 100%;
	margin: 180px 0;
	padding: 2rem 0 2rem;
}

.content-partners{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	max-width: 1400px;
	height: 400px;
	padding: 0 4rem 0 4rem;
	gap: 2rem;
}

.content-partners h2 {
	font-size: 3rem;
	font-weight: lighter;
}

.logos-partners {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 70%;
	height: 300px;
}

.logos-partners ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.logos-partners li {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 17%;
	margin: 3% 4% 3% 4%;
	height: 45px;
}

.logos-partners img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

/* Solution Business Style */

.business-container {
	display: flex;
	justify-content: center;
	max-width: 100%;
}

section.main-content {
	display: flex;
	flex-direction: column;
	max-width: 1400px;
	padding: 0 4rem 0 4rem;
}

section.main-content h4 {
	font-size: 1.2rem;
	font-weight: lighter;
	font-family: SometypeMono-Regular,Monaco,Inconsolata,"Fira Mono","Droid Sans Mono","Source Code Pro",monospace,monospace;
}

.business-title {
	display: flex;
	flex-direction: column;
	width: 80%;
	padding-bottom: 4rem;
	gap: 2rem;
}

.business-title h2 {
	font-size: 4rem;
	font-weight: lighter;
}

.informations div + div {
	padding-top: 8rem;
}

.informations div:nth-child(2n) {
	display: flex;
	flex-direction: row-reverse;
}

.container-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 600px;
}

.media-content {
	position: relative;
	display: flex;
	justify-content: center;
	/* overflow: hidden; */
  overflow: auto;
	width: 50%;
	max-height: 100%;
}

.media-content img {
	position: absolute;
	width: 100%;
	height: 100%;
  background-size: cover;
}

article.business-content {
	display: flex;
	flex-direction: column;
	width: 40%;
  height: 50%;
	padding: 4rem 0;
}

.business-content h3 {
	font-size: 3rem;
	font-weight: lighter;
}

.business-content p {
	font-size: 0,7rem;
	font-weight: 500;
}

.content-links {
	display: flex;
	gap: 2rem;
}

.content-links a {
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 2px;
	color: #33f;
	transition: all ease-in 0.3s;
}

.content-links a:hover {
	color: #00b;
}

/* Contact Styles */

.contact-container {
	display: flex;
	justify-content: center;
	max-width: 800%;
  align-items: center;
	padding-top: 12rem;
  margin-bottom: 50px;
}

.contact-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	max-width: 1300px;
	height: 300px;
	padding: 0 4rem 0 4rem;
	margin: 0 4rem 0 4rem;
	background-color: #3333ff;
}

.contact-content h2 {
	font-weight: lighter;
	font-size: 3rem;
	max-width: 70%;
	color: white;
}

.contact-content a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.2rem;
	font-weight: lighter;
	width: 150px;
	height: 80px;
	gap: 0.5rem;
	padding: 0 0 0 1rem;
	border: 1px solid #3333ff;
	box-shadow: 0;
	transition: all ease-out 0.3s;
	color: #3333ff;
	background-color: white;
}

.contact-container p{
  font-family: SometypeMono-Regular,Monaco,Inconsolata,"Fira Mono","Droid Sans Mono","Source Code Pro",monospace,monospace;
}

.contact-content a:hover {
	box-shadow: white 5px 5px 0;
	border: 1px solid black;
}

/* --- Foursquare Places Styles --- */

.foursquare-places {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	max-width: 100%;
	padding-top: 12rem;
  margin-bottom: 100px;
}

.fp-title {
	max-width: 1400px;
}

.fp-title h2 {
	font-size: 4rem;
	font-weight: lighter;
	width: 70%;
	padding-right: 80px;
}

.fp-content {
	display: flex;
	flex-direction: column;
	max-width: 1400px;
	padding: 0 4rem 0 4rem;
}

.fp-content-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 600px;
	margin-top: 4rem;
	padding-top: 3rem;
	padding-bottom: 12rem;
	background-color: #faf8f8;
}

.fp-main-content {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	height: 100%;
}

.fp-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 40%;
	height: 100%;
}

.fp-form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	height: 70%;
}

.fp-form h4 {
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	font-weight: lighter;
}

.fp-form form {
	display: flex;
	flex-direction: column;
	height: 90%;
	gap: 2rem;
}

.fp-form form select {
	font-size: 3.5rem;
	height: 18%;
	appearance: none;
	background: transparent;
	background-image: url(./media/select-arrow.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 20px;
	border: none;
	border-bottom: 6px solid #3333ff;
	outline: none;
}

.fp-form form select:focus {
	color: #3333ff;
}

.fp-form form select:nth-child(1) {
	width: 30%;
}

.fp-form form select:nth-child(2) {
	width: 40%;
}

.fp-form form select:nth-child(3) {
	width: 80%;
}

.fp-form form a {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
	padding-left: 1rem;
	width: 23%;
	height: 13%;
	border: 1px solid black;
	background-color: black;
	color: white;
	transition: all ease-in 0.3s;
}

.fp-form h4{
	font-family: SometypeMono-Regular,Monaco,Inconsolata,"Fira Mono","Droid Sans Mono","Source Code Pro",monospace,monospace;
}

.find-out{
	font-family: SometypeMono-Regular,Monaco,Inconsolata,"Fira Mono","Droid Sans Mono","Source Code Pro",monospace,monospace;
}

.fp-form form a:hover {
	background-color: #3333ff;
}

.fp-column footer {
	display: flex;
	align-items: flex-end;
	font-weight: lighter;
	font-size: 1.85rem;
	gap: 1rem;
	width: 100%;
}

.fp-column footer img {
	width: 20%;
}

.fp-column footer a {
	color: black;
	border-bottom: 1px solid #3333ff;
}

.fp-column footer a:hover {
	color: #3333ff;
}

.fp-places {
	text-align: right;
	margin: auto;
	margin-right: 0;
	max-width: 55%;
	height: 100%;
}

.fp-places button {
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 2rem;
	color: #3333ff;
	background-color: #faf8f8;
}

.fp-places button + button {
	margin-left: 3rem;
}

.fp-places button:hover {
	color: #00b;
}

.fp-places button:focus {
	color: #00b;
}

.places-carrossel {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	width: 100%;
}

.places-carrossel a {
	width: 30%;
	color: black;
	background-color: white;
	box-shadow: 0 0 0 transparent;
	transition: all ease-out 0.2s;
	text-align: start;
}

.places-carrossel a:hover {
	color: #3333ff;
	box-shadow: 5px 5px 0px #3333ff;
}

.places-carrossel h2 {
	width: 100%;
	font-size: 1.3rem;
	font-weight: lighter;
}

.places-carrossel p {
	font-size: 1.05rem;
	font-weight: 600;
	letter-spacing: 1px;
}

.places-carrossel a > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 460px;
}

.places-carrossel a div .place-content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	width: 80%;
	height: 90%;
}

.places-content-title {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 1rem;
}

.place-content img {
	width: 100%;
	object-fit: fill;
}

.ranking-places {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	width: 40%;
	height: 10%;
	gap: 10%;
	background-color: #cbb8f7;
}

.ranking-places em {
	font-weight: 600;
}

/* --- Company news Styles --- */

.container-company {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image: url("https://images.ctfassets.net/exg8oyvb0wfw/5fs2JIWMXbdtB6R6sWdoVs/477f592095dfd5783234df988be763a9/xiang-ji-AR8XAYZVB7Q-unsplash__1_.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  align-self: flex-start;
}

.company-news-main {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 50%;
	max-height: 50%;
	margin-left: 15%;
	padding: 4rem;
	background-color: #171417;
}

.company-news-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.company-news-content h6 {
	letter-spacing: 0.1rem;
	color: white;
  font-family: SometypeMono-Regular,Monaco,Inconsolata,"Fira Mono","Droid Sans Mono","Source Code Pro",monospace,monospace;
}

.company-news-content a {
	max-width: 75%;
}

.company-news-content a p {
	font-size: 4rem;
	color: white;
	display: inline;
	z-index: 2;
	box-shadow: inset 0 -15px 0 0 #3333ff;
	transition: ease-in-out 0.2s;
}

.company-news-content a:hover p {
	box-shadow: inset 0 -50px 0 0 #3333ff;
}